@model List<TReservation>


@foreach (var item in Model)
 {
<div style="
        border: 1px solid black;
        padding: 2rem;
        border-radius: 2rem;">
    <p><strong>Id da Reserva: </strong>@item.Id</p>
    <p><strong>Nome do Cliente: </strong>@item.Client.Name</p>
    <p><strong>Filme(s):</strong></p>
    <div>
        @foreach (var movie in TIten.List(x => x.Reservation.Id == item.Id))
        {
            <p>- @movie.Movie.Name</p>
            @*<p>valor: @movie.Value.PriceFormatWithDot()</p>*@
        }
    </div>
    <p><strong>Retirada: </strong>@item.Withdraw</p>
    <p><strong>Devolução: </strong>@item.Devolution</p>
    <p><strong>Valor: R$</strong>@item.TItens.Sum(x => x.Value).PriceFormatWithDot() </p>
    <p><strong>Status: </strong>
    @if(@item.Returned){
      <span>Devolvida</span>
    }
    else{
        <span>Ativa</span>
    }
        </p>

</div>
        <br />
 }







