@inherits ModelWebViewPage<TReservation>


@{
    ViewBag.Title = "Reservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cliente = (TClient)ViewBag.Usuario;
    var listaDeFilme = ViewBag.Filme;

}

<h2>Reservas</h2>
<div class="row">
    <h4>Selecionar filme</h4>
    @using (Html.BeginForm(MVC.Cliente.Clientes.Reservas(), FormMethod.Post))
    {

        <div class="col-lg-12">
            @this.Label(x => x.Withdraw).Class("Withdraw").Value("De:")
            @this.DatePicker(x => x.Withdraw).Class("Withdraw").Value(DateTime.Today)
        </div>
        <div class="col-lg-12">
            @this.Label(x => x.Devolution).Class("Withdraw").Value("Até:")
            @this.DatePicker(x => x.Devolution).Class("Withdraw").Value(DateTime.Today.AddDays(3))
        </div>

        <div class="col-lg-12">
            @this.Label("Filme").Class("Filme").Value("Filmes:")
            @this.AutoSelect("Filme").Class("Filme").FirstOption("", "Selecione uma opção")
        </div>
        <div class="nome-filme">
        </div>


        <button type="submit" style="display:flex;" href="@Url.Action(MVC.Cliente.Clientes.Reservas(Model))">Reservar</button>
    }
</div>
<script type="text/javascript">
        $(function () {
            $("form").validate();

            $("select.Filme").change(function () {
                var id = $(this).val();
                $.post("@Url.Action(MVC.Cliente.Clientes.ListarFilmes())", { id: id }, function (data) {
                    $("div.nome-filme").append(data);
                    $("select.Filme option[value = " + id + "]").remove();
                });
            });

            $("a.excluir-filme").livequery("click", function () {
                var id = $(this).parents("div.nome-filme").find("option.nome-filme").val();
                $(this).parents("div.nome-filme").remove();
                $("select.Filme").append("<option value=" + id + ">" + $(this).data("nome") + "</option>");
            });

        });
</script>





