@inherits ModelWebViewPage<TReservation>


@{
    ViewBag.Title = "Reservas";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var cliente = ViewBag.Cliente;
    var listaDeFilme = ViewBag.Filme;

}

<h2>Reservas</h2>
<div class="row">
    <h4>Selecionar filme</h4>
    @using (Html.BeginForm(MVC.Admin.Reservas.NovaReserva(), FormMethod.Post))
    {
        <div class="col-lg-12">
            @this.Label("Cliente").Class("Cliente ").Value("Cliente:")
            @this.AutoSelect("Cliente").Class("Cliente form-control").FirstOption("", "Selecione um cliente")
        </div>
        <div class="nome-cliente">
        </div>

        <div class="col-lg-12">
            @this.Label(x => x.Withdraw).Class("Withdraw ").Value("De:")
            @this.DatePicker(x => x.Withdraw).Class("Withdraw form-control").Value(DateTime.Today)
        </div>
        <div class="col-lg-12">
            @this.Label(x => x.Devolution).Class("Devolution").Value("Até:")
            @this.DatePicker(x => x.Devolution).Class("Devolution  form-control").Value(DateTime.Today.AddDays(3))
        </div>

        <div class="col-lg-12">
            @this.Label("Filme").Class("Filme ").Value("Filmes:")
            @this.AutoSelect("Filme").Class("Filme form-control").FirstOption("", "Selecione uma opção")
        </div>
        <div class="nome-filme">
            <table class="table table-bordered table-hover tablesorter reservados">
                <thead>
                    <tr class="carousel">
                        <th class="header">
                            Nome
                        </th>
                        <th class="header">
                            Quantidade
                        </th>
                        <th class="header text-center">
                            Ação
                        </th>
                    </tr>
                </thead>
                </table>
        </div>


        <button type="submit" style="display:flex;" href="@Url.Action(MVC.Admin.Reservas.NovaReserva(Model))">Reservar</button>
    }
</div>
<script type="text/javascript">
        $(function () {
            $("form").validate();

            $("select.Filme").change(function () {
                var id = $(this).val();
                $.post("@Url.Action(MVC.Admin.Usuarios.ListarFilmes())", { id: id }, function (data) {
                    $("table.reservados").append(data);
                    $("select.Filme option[value = " + id + "]").remove();
                });
            });

            $("a.excluir-filme").livequery("click", function () {
                var id = $(this).parents("div.nome-cliente").find("td.item-filme").val();
                $(this).parents("tr.item-filme").remove();
                $("select.Filme").append("<option value=" + id + ">" + $(this).data("nome") + "</option>");
            });

             $("select.Cliente").change(function () {
                var id = $(this).val();
                $.post("@Url.Action(MVC.Admin.Usuarios.ListarClientes())", { id: id }, function (data) {
                    $("div.nome-cliente").append(data);
                    $("select.Cliente option[value = " + id + "]").remove();
                });
            });

            $("a.excluir-cliente").livequery("click", function () {
                var id = $(this).parents("div.nome-cliente").find("option.nome-cliente").val();
                $(this).parents("div.nome-cliente").remove();
                $("select.Cliente").append("<option value=" + id + ">" + $(this).data("nome") + "</option>");
            });

        });
</script>





