@inherits ModelWebViewPage<Login>
@{
    ViewBag.Title = "LoginUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="sign section--bg" data-bg="img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">

                    @using (Html.BeginForm())
                    {
                        <h1 class="title text-center" style="color:ghostwhite">Login Usuário</h1>
                        <!-- authorization form -->
                        @*<form action="#" class="sign__form">*@

                        <div class="sign__group">
                            @this.TextBox(x => x.User).Class("required form-control sign__group").Autofocus(true).Required(true)
                            @Html.ValidationMessageFor(x => x.User)
                        </div>

                        <div class="sign__group">
                            @this.Password(x => x.Password).Class("required form-control").Autofocus(true)
                            @Html.ValidationMessageFor(x => x.Password)
                        </div>

                        <div class="sign__group sign__group--checkbox">
                            <input id="remember" name="remember" type="checkbox" checked="checked">
                            <label for="remember">Remember Me</label>
                        </div>

                        <button class="sign__btn" type="submit">Login</button>

                        <button class="sign__btn" type="submit" onclick="location.href='@Url.Action(MVC.Admin.Usuarios.Cadastrar())'">Cadastrar</button>

                

                    }
                </div>
            </div>
        </div>
    </div>
</div>
